.burger {
  position: fixed;
  top: 10px;
  left: 13px;
  z-index: 1000;
}

.notification {
  position: fixed;
  left: 50%;
  top: -25px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  z-index: 100;
  transition: 0.5s ease;

  &.active {
    top: 10px;
    opacity: 1;
    visibility: visible;
  }
}
